p {
    font-family: Arial;
    margin: 0;
}
.install {
    font-size: 25px;
    margin-bottom: 10px;
}

.add-music {
    color: rgb(160, 160, 160);
}

.card {
    background-color: rgb(43, 41, 41);
    width: 500px;
    border-style: solid;
    border: none;
    padding: 20px 15px 20px 15px;
}