.profile {
    margin: 0;
}

p {
    font-size: 14px;
    font-family: Arial;
    line-height: 10px;
}
/*horizontalal layout property*/
.cat {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
    vertical-align: middle;
}

.cat-pic {
    display: inline-block;
    margin-right: 20px;
}

/*horizontal layout property*/
.describe {
    width: 200px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

/*vertical layout property inside .describe (horizontal layout property) */
.name {
    font-weight: 600;
}

.pet, .famous {
    color: rgb(96, 96, 96);
}

/*horizontal layout property*/

.follow-btn {
    display: inline-block;
    vertical-align: middle;
}

.follow {
    background-color: rgb(18, 126, 199);
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}





