p {
    font-family: Arial;
    margin: 0;
}

.profile {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.username {
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 10px;
}

.mutual-frnd-row {
    margin-left: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.dog2 {
    width: 24px;
    height: 24px;
    object-fit: cover;
    margin-right: 4px;
    border-radius: 12px;
    vertical-align: middle;
}

.mutual-frnd {
    color: rgb(85, 84, 84);
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}

.add-frnd-btn {
    background-color: rgb(24, 119, 242);
    color: white;
    margin-left: 10px;
    border: none;
    padding: 8px 15px 8px 15px;
    border-radius: 4px;
    margin-bottom: 10px;
}